
#heroText {
    background-image: radial-gradient(52% 52% at 50% 50%, rgba(0, 0, 0, 0.7) 55.69%, rgba(0, 0, 0, 0) 100%);
}


#redButton{
    width: 100%;
    background:linear-gradient(#e6656e,#e25059,#df3a45,#db2430,	#CD222D);
	cursor:pointer;
	box-shadow: inset 0 1px 1px #E6656e;
	border:solid 1px;
	border-color:#db2430 #c5202b #af1d26 #9a1922 ;
	color: #fff;
	padding:2% 9% 2% 9%;
	font-size: 1em;
	margin: 5% 0% 5% 0%;
	text-shadow: black 2px 3px 3px;
}

#redButton:hover{
    background:linear-gradient(#CD222D,#db2430,#df3a45,#e25059,#e6656e);
	cursor:pointer;
	box-shadow: inset 0 1px 1px #84151d;
	border:solid 0.02em;
	border-color:#9a1922 #af1d26 #c5202b #db2430;
	text-shadow: black 1px 2px 3px;
}